<!doctype html>
<html>
  
  <head>
    <title>Interview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/themes/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css"> 
    <link type = "text/css" rel= "stylesheet" href = /static/css/index.css/>
  </head>
  
  <body>
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Interview</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Interview</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="http://127.0.0.1:8000/login">Login</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>Interview</h1>
        <p>Pick, Prepare, Practice, Pursue - Get Your Dream Job Today
          <br> 
        </p>
        <p></p>
        <form action="/interview/" class="form-horizontal" method="get">
          <select name="Field" class="btn">
            <option value="Marketing">Marketing</option>
            <option value="Finance">Finance</option>
            <option value="ComputerScience" selected="">Computer Science</option>
            <option value="GraduateSchool">Graduate School</option>
          </select>
          <input type="text" placeholder="Keywords" name="Keywords">
          <input type="submit" value="Interview Me" class="btn"> 
        </form>
      </div>
    </div>
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>
