<html>
    <head><title>Interview</title></head>
    <body>    

	<form action ="/summary/" method="get">
	    <!--{% csrf_token %}-->
	    <h2>{{sectionname1}} </h2>

	    <div id="showquestion1">{{sec1question1}}</div>
	    <div>
		<textarea name="sec1question1answer" cols="50" rows="5"></textarea><br>
	    </div>     
	    
	    <div id="showquestion2">{{sec1question2}}</div>
	    <div>
		<textarea name="sec1question2answer" cols="50" rows="5"></textarea><br>
	    </div>    


	    <h2>{{sectionname2}} </h2>

	    <div id = "showquestion1">{{sec2question1}}</div>
	    <div>
		<textarea name="sec2question1answer" cols="50" rows="5"></textarea><br>
	    </div>     

	    <div id = "showquestion2">{{sec2question2}}</div>
	    <div>
		<textarea name="sec2question2answer" cols="50" rows="5"></textarea><br>
	    </div>    

	    <input type="submit" value="finished" class = "btn">
	</form>
    </body>
</html>

